<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="" class="mobile-logo">
      <img src="http://static.tumblr.com/60b39ec47538e7c24195be17922ec289/1gr9id3/2Von06s4k/tumblr_static_twodudesinlove-logo-final.png" alt="Logo image">
    </a>
    <a id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a ui-sref="home">Home</a></li>
        <li class="nav-link"><a ui-sref="study">Quiz Center</a></li>
        <li class="nav-link"><a ui-sref="allDecks">Study Decks</a></li>
        <li class="nav-link"><a ui-sref="newDeck">Create Deck</a></li>
        <li class="nav-link logo">
          <a href="" class="logo">
            <img src="http://static.tumblr.com/60b39ec47538e7c24195be17922ec289/1gr9id3/2Von06s4k/tumblr_static_twodudesinlove-logo-final.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a ui-sref="login">Login</a></li>
        <li class="nav-link"><a ui-sref="register">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>